.t1{
	font-size: 22px;
	font-weight: bold;
	color: #333;	
	text-shadow: #999 2px 2px 1px;
	
}
.t2{
	font-size: 18px;
	color: #999;
	line-height: 30px;
}
.time{
	font-size: 12px;
}
.t3{
	font-style: italic;
	text-align: left;

}
.t4{
	font-size: 16px;
	font-weight: bold;
	text-align: left;
}
.t5{
	text-indent: 2em;
	text-align: left;
}
.t6{
	text-indent: 2em;
	text-align: left;
}
.t7{
	text-indent: 2em;
	text-align: left;
}
span{
	color: red;
}